In [2]:
import pandas as pd
import os
import csv
import re

In [3]:
allfiles = os.listdir("/Users/bokshenggan/Desktop/TechJourney/TechProjects/NovelTech/1_Stories/Preparation/Original/fairytales")
files = [fname for fname in allfiles if fname.endswith('.txt')]

In [4]:
df = pd.DataFrame()

for i in files:
    f = pd.read_csv('./fairytales/'+i,sep = '\t',names = ['line','labels','an2','texts'],quoting=csv.QUOTE_NONE, encoding='utf-8')
    df = df.append(f)

In [5]:
df.head()
df.drop('an2', axis=1, inplace=True)
df.drop('line', axis=1, inplace=True)

In [6]:
df.head()

  labels                                              texts
0    N:N  NEAR the grass-covered rampart which encircles...
1    N:N  Balsams and other flowers greet us from the lo...
2    N:N              The building is the Warton Almshouse.
3    N:N       Look! at the window there leans an old maid.
4   Sa:N  She plucks the withered leaf from the balsam, ...

In [9]:
df['labels'] = df['labels'].map(lambda x: x.split(':')[0])
df['labels'] = df['labels'].map(lambda x: 'surprise' if x == 'Su-' else x)
df['labels'] = df['labels'].map(lambda x: 'surprise' if x == 'Su+' else x)
df['labels'] = df['labels'].map(lambda x: 'neutral' if x == 'N' else x)
df['labels'] = df['labels'].map(lambda x: 'joy' if x == 'H' else x)
df['labels'] = df['labels'].map(lambda x: 'anger' if x == 'A' else x)
df['labels'] = df['labels'].map(lambda x: 'fear' if x == 'F' else x)
df['labels'] = df['labels'].map(lambda x: 'disgust' if x == 'D' else x)
df['labels'] = df['labels'].map(lambda x: 'sadness' if x == 'Sa' else x)

In [10]:
pd.value_counts(df['labels'])

neutral     10139
joy          1610
surprise      832
sadness       831
anger         730
fear          697
disgust       463
Name: labels, dtype: int64

In [12]:
df[df['texts'].isnull()]

Empty DataFrame
Columns: [labels, texts]
Index: []

In [13]:
df.to_pickle('fairy.pkl')