In [2]:
from bs4 import BeautifulSoup
import urllib

import os
from selenium import webdriver

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")

In [11]:
# Create a driver called "driver."
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/jobs-data-scientist-in-united-states?location=")

In [3]:
import os
from selenium import webdriver

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)

In [12]:
driver.close()

In [13]:
# Create a driver called "driver."
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/jobs-data-scientist-in-united-states?location=")

In [14]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [15]:
jobtitles = []
for i in soup.find_all("h2",attrs={"class":"job-title show-for-medium-up"}):
    try:
        jobtitles.append(i.text)
    except:
        jobtitles.append('ZERO')

In [16]:
addinfo = []
for i in soup.find_all("h4",attrs={"class":"job-text employment-info"}):
    try:
        addinfo.append(i.text)
    except:
        addinfo.append('ZERO')

In [17]:
company_add_addinfo = []
for i in soup.find_all("h4",attrs={"class":"job-text"}):
    try:
        company_add_addinfo.append(i.a['text'])
    except:
        company_add_addinfo.append(i.text)
company = []
add = []

for i,e in enumerate(company_add_addinfo):
    if i in range(1,75,3):
        company.append(e)
    elif i in range(2,75,3):
        add.append(e)

In [18]:
joblinks = []
for i in soup.find_all("h2",attrs={"class":"job-title show-for-medium-up"}):
    joblinks.append('https://www.careerbuilder.com/'+i.a['href'])

In [19]:
import pandas as pd
d = {'jobtitles':jobtitles,'joblinks':joblinks,'addinfo':addinfo,'company':company,'add':add}

In [20]:
step = pd.DataFrame(d)
step.head()

,add,addinfo,company,joblinks,jobtitles
0,"\nWaltham, MA, United States\n","\nFull Time | Pay: $190,000 - $200,000/year\n",\nFRG Technology Consulting\n,https://www.careerbuilder.com//job/J3M46Z6QXVL...,"\nData Scientist - Waltham, MA - $190K\n"
1,"\n106 East 6th Street, Austin, TX, United Stat...","\nFull Time | Pay: $100,000 - $130,000/year\n",\nRoc Search Inc\n,https://www.careerbuilder.com//job/J3R7GK6M5XZ...,\nData Scientist\n
2,"\n9675 NW 117th Ave, Miami, FL 33178, USA\n","\nFull Time | Pay: $90,000 - $110,000/year\n","\nSynergy Business Consulting, Inc.\n",https://www.careerbuilder.com//job/J8Q5M1654FP...,\nData Scientist\n
3,"\nSan Francisco, CA, USA\n",\nContractor | Pay: $60 - $75/hour\n,\nCatapult Staffing\n,https://www.careerbuilder.com//job/JJJ15Y71NM7...,\nData Scientist\n
4,"\nCincinnati, OH, USA\n","\nFull Time | Pay: $120,000 - $125,000/year\n",\nA-Line Staffing Solutions\n,https://www.careerbuilder.com//job/JHQ1YW6ZTVB...,\nData Scientist\n

In [23]:
for i in step['joblinks']:
    print i

https://www.careerbuilder.com//job/J3M46Z6QXVLZF5LZR23?ipath=JRGT1&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R7GK6M5XZL94B9QDN?ipath=JRGT2&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J8Q5M1654FPFFD5ZB9Y?ipath=JRGT3&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JJJ15Y71NM7FR7831S4?ipath=JRGT4&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHQ1YW6ZTVB317PDG2R?ipath=JRGT5&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHQ11D6WMW0N743W107?ipath=JRGT6&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3N6FM6GFZJXKJ91959?ipath=JRGT7&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3F67D6J591DT1YM6KF?ipath=JRGT8&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHM4V66QXKPG7RBXK41?ipath=JRGT9&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3W0QH62TYTSSJ0Q6JT?ipath=JRGT10&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3V5BT70RD5BY62MFNR?ipath=JRGT11&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3Q75D712V96HDSK5WD?ipath=JRGT12&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3M30574RS1G023Q124?ipath=JRGT13&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3S4G96F6JYRDKMG0ZJ?ipath=JRGT14&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHR7KQ6DK9BL3J2K5JR?ipath=JRGT15&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R6YL5YNVG3404VRQF?ipath=JRGT16&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3T2NG745Y33P8HKWLP?ipath=JRGT17&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3P1DB6VJLNDGWJJGRM?ipath=JRGT18&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JJJ2L26P0QDYVPGLL12?ipath=JRGT19&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3W1VG73MD364TYDMC5?ipath=JRGT20&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3V2RM6QDJ2F0HHPCZN?ipath=JRGT21&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R6HT6YC19B65QG6M4?ipath=JRGT22&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3P3HM727HTWC40NSQ9?ipath=JRGT23&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHS1ZQ5YY1HKP7ZZD4G?ipath=JRGT24&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J8S0V95WG6DPVK9RKD7?ipath=JRGT25&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv

In [24]:
description=[]
for i in step['joblinks'][0:2]:
    driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
    driver.get(i)
    soup = BeautifulSoup(driver.page_source, 'lxml')
    for i in soup.find_all("div",attrs={"class":"description"}):
        description.append(i.text)
    driver.close()

In [ ]:
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/job/JHS1ZQ5YY1HKP7ZZD4G?ipath=JRGT1&keywords=data+scientist&location=united+states&searchid=8a9e7241-7c05-4a68-a310-458281096c48&siteid=ns_sg_g")

In [ ]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [ ]:
description = []
for i in soup.find_all("div",attrs={"class":"description"}):
    description.append(i.text)
description

In [ ]:
tags = []
for i in soup.find_all("div",attrs={"class":"tag"}):
    tags.append(i.text)
tags

In [25]:
description

[u'\nData Scientist - Waltham, MA - $190K My client is looking for a talented Data Scientist to join their Boston pracitce. They need a candidate with the experience to be hands on with coding, algorithms, predictive models, data mining, and analytics. Likewsie, they need someone with the communication and functional abilities to be a mentor and leader to their team of Data Scientists. There will be a lot of cross functiona teamwork and an understanding of the full lifecycle development of a project is a must.Data Scientist - Waltham, MA - $190K Required Experience & Qualifications:\nProficiency with Python\nExposure to big data tools such as Hadoop, Hive, Sqoop, Pig, Impala or Spark is a big plus\nExpertise in SQL and relational databases\nFamiliarity with AWS\nExperience with predictive analytics / data science\nA desire to work on big data, predictive modeling, and machine learning projects\nSuperb communication and presentation skills\nRole & Responsibilities:\nDrawing key insights to drive critical decision making\nConducting data mining and building predictive models \nCollaborating with peers and managers to consistently exceed client expectations\nParticipating in the full cycle of strategic client analysis projects from client facing kick-off to code delivery or implementation\nBenefits & Bonus\nCompetitive base and bonus\nFull medical/health\nOpportunity to work with the newest technology in the industry\nCompany Match 401k program\nRemote work\nExciting company culture\nIf you or someone you know is interested in this position, please send your resume directly to [Click Here to Email Your Resum\xe9] or call 212-731-8282. My client is looking to start the interview process as soon as possible.FRG Consulting is a leader in Niche IT Recruitment with a focus on cloud technologies including Azure & AWS, as well as Big Data, Data Science and BI. We deal with both Microsoft Partners, AWS partners & End Users throughout North America. We have open positions and relationships with some of the top partners and end users throughout the US and offer some excellent opportunities in the BI, Big data space.I understand the need for discretion and would welcome the opportunity to speak to any Big Data and cloud analytics candidates that are considering a new career or job either now or in the future. Confidentiality is of the upmost importance. For more information on available BI jobs, as well as the Business Intelligence, Big data and cloud market, I can be contacted at 212-731-8282. Please see www.frgconsulting.com for more information.Big Data / Data Science / Hadoop / Microsoft Business Intelligence / BI / Business Intelligence / SSRS / SSAS / SSIS / SQL / T-SQL / MDX / Azure / Cloud / AWS / Data Warehouse / ETL / Power BI / Architect / Big Data / Hadoop / Scala / Python / Apache / Hive / Spark / Data Science / Analytics / Predictive Modelling / \n',
 u'\nBig Data / Data Science / Hadoop / Microsoft Business Intelligence / BI / Business Intelligence / SSRS / SSAS / SSIS / SQL / T-SQL / MDX / Azure / Cloud / AWS / Data Warehouse / ETL / Power BI / Architect / Big Data / Hadoop / Scala / Python / Apache / Hive / Spark\n',
 u"\nData Scientist - Education - $130,000With millions of happy users and a new state-of-the-art office, my client is quickly evolving. Your primary focus will be in applying data mining, doing statistical analysis, and building high quality prediction systems. Responsibilities\nSelecting new features, building and optimizing classifiers using machine learning techniques\nApplying Data mining using state-of-the-art methods to data and integrate our prediction systems into existing and new products.\nEnhancing our data collection procedures to include information that is relevant for building analytic systems\nProcessing, cleansing and verifying the integrity of our data used for analysis\nDoing analysis and presenting the results in a clear manner\nSkills and Qualifications:\nAbility to work in an environment with a significant number of technical and functional unknowns\nUnderstanding of machine learning techniques and algorithms\nQuery languages such as SQL, Hive, etc.\nGreat communication skills\nExperience with NoSQL databases (such as MongoDB)\nGood scripting and programming skills using tools like php, C\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nYour Experience & Education:\nBS or MS degree or equivalent experience\n5+ years in Data Science, Machine Learning or similar related experience\nWhat's in it for you:\nMedical, dental and vision insurance along with numerous other benefits\nRoom for growth and career advancement\nPaid vacation and sick time\nExcellent 401(k) plan with 6% company match\nPaid holidays\nEmployer paid life insurance\nA fun, dynamic company culture\nData Scientist - Education - $130,000\n"]

In [6]:
# driver.close()

In [33]:
from bs4 import BeautifulSoup
import urllib

import os
from selenium import webdriver

import time

import numpy as np

import re

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")

In [18]:
job_urls = []

for i in range(1,13):
    # change below url accordingly to your search. i.e. data analyst to data scientist
    driver.get("https://www.careerbuilder.com/jobs-data-scientist-in-usa?page_number={}".format(i))
    time.sleep(7 + 8*np.random.uniform())
    
    html = BeautifulSoup(driver.page_source, 'lxml')
    
    job_links = html.find_all(name='h2', attrs={'class':'job-title show-for-medium-up'})
    
    for link in job_links:
        jd_url = 'https://www.careerbuilder.com{}'.format(link.a['href'])
        job_urls.append(jd_url)

In [19]:
# creating empty list to store our data
title = []
industry = []
category = []
company = []
location = []
salary = []
details = []
experience = []

In [34]:
def job_details(url):
    
    driver.get(url)
    
    # adjust accordingly to your needs. below code randomly sleeps between 7 to 15secs
    time.sleep(7 + 8*np.random.uniform())
    
    soup = BeautifulSoup(driver.page_source, 'lxml')
    
    # get the job title
    try:
        job_title = soup.find('div', attrs={'class':'small-12 item'}).h1.text.replace('\n','')
        title.append(job_title)
    except AttributeError:
        title.append('NA')
    
    
    # get the industry of the company, e.g. Medical
    try:
        job_industry = soup.find('div', {'class': 'tag', 'id': 'job-industry'}).text.replace('\n','')
        industry.append(job_industry)
    except AttributeError:
        industry.append('NA')
    
    
    # get the nature of the job, e.g. IT
    try:
        job_category = soup.find('div', {'class': 'tag', 'id': 'job-categories'}).text.replace('\n','')
        category.append(job_category)
    except AttributeError:
        category.append('NA')
    
    
    # get name of company
    try:
        company_name = soup.find('div', {'class': 'company-info'}).header.h4.text.replace('\n','')
        company.append(company_name)
    except AttributeError:
        company.append('NA')
    
    
    # get location of the job, e.g. California
    try:
        job_location = soup.find('ul', {'class': 'address'}).li.text.replace('\n','')
        location.append(job_location)
    except AttributeError:
        location.append('NA')
    
    # get salary data
    job_salary = soup.find_all('div', {'class': 'tag'})

    count = 0
    for i in job_salary:
        if '$' in i.text:
            count += 1
            print i.text.replace('\n','')
            break

    if count == 0:
        print 'NA'
    
    
    # get job description and requirements
    job_description = soup.find_all(name='div', attrs={'class':'description'})
    
    description = ''
    for i in job_description:
        description += i.text
    
    details.append(description)
    
    
    # attempt to get experience required from main description. 
    # will not extract if its written in format not covered by below 
    try:
        exp = re.search(r'[1-9]*(-| - | to )*[1-9]+? [Yy]ears?',description).group(0)
        experience.append(exp)
    except AttributeError:
        experience.append('NA')
    
    return

In [35]:
for i in job_urls:
    print job_urls.index(i)
    job_details(i)

0
NA
1
NA
2
$90,000.00 - $175,000.00 /Year
3
$190,000.00 - $200,000.00 /Year
4
$100,000.00 - $130,000.00 /Year
5
$90,000.00 - $110,000.00 /Year
6
$60.00 - $75.00 /Hour
7
$120,000.00 - $125,000.00 /Year
8
$50.00 - $70.00 /Hour
9
$100,000.00 - $160,000.00 /Year
10
$95,000.00 - $110,000.00 /Year
11
$95,000.00 - $135,000.00 /Year
12
$160,000.00 - $180,000.00 /Year
13
$110,000.00 - $200,000.00 /Year
14
$150,000.00 - $200,000.00 /Year
15
$59,000.00 - $105,000.00 /Year
16
$160,000.00 - $250,000.00 /Year
17
$150,000.00 - $170,000.00 /Year
18
$110,000.00 - $140,000.00 /Year
19
NA
20
$90,000.00 /Year
21
$120,000.00 - $160,000.00 /Year
22
$156.75 - $181.50 /Hour
23
$180,000.00 - $200,000.00 /Year
24
NA
25
NA
26
NA
27
$120,000.00 - $150,000.00 /Year
28
$0.00 - $75,000.00 /Year
29
NA
30
NA
31
NA
32
$0.00 - $110,000.00 /Year
33
NA
34
NA
35
NA
36
NA
37
NA
38
NA
39
NA
40
NA
41
NA
42
NA
43
NA
44
NA
45
NA
46
NA
47
NA
48
NA
49
NA
50
NA
51
NA
52
NA
53
NA
54
$65,000.00 - $85,000.00 /Year
55
NA
56
NA
57
$0.00 - $140,000.00 /Year
58
NA
59
NA
60
NA
61
NA
62
NA
63
NA
64
NA
65
NA
66
$0.00 - $130,000.00 /Year
67
NA
68
NA
69
NA
70
NA
71
NA
72
NA
73
NA
74
NA
75
NA
76
NA
77
NA
78
NA
79
NA
80
NA
81
NA
82
NA
83
NA
84
NA
85
NA
86
NA
87
NA
88
NA
89
NA
90
NA
91
NA
92
NA
93
NA
94
$81.00 - $103.00 /Hour
95
NA
96
NA
97
NA
98
NA
99
NA
100
NA
101
NA
102
$126,000.00 - $160,000.00 /Year
103
NA
104
$28.00 - $33.00 /Hour
105
NA
106
NA
107
NA
108
NA
109
NA
110
NA
111
NA
112
NA
113
NA
114
$95,000.00 - $105,000.00 /Year
115
NA
116
NA
117
NA
118
NA
119
$70,000.00 - $90,000.00 /Year
120
NA
121
NA
122
NA
123
NA
124
NA
125
NA
126
NA
127
NA
128
NA
129
NA
130
NA
131
NA
132
NA
133
NA
134
NA
135
NA
136
NA
137
NA
138
NA
139
NA
140
NA
141
NA
142
NA
143
NA
144
NA
145
NA
146
NA
147
NA
148
NA
149
$160,000.00 - $200,000.00 /Year
150
NA
151
NA
152
NA
153
NA
154
NA
155
NA
156
NA
157
NA
158
NA
159
NA
160
NA
161
NA
162
NA
163
NA
164
NA
165
NA
166
NA
167
NA
168
NA
169
NA
170
NA
171
NA
172
NA
173
NA
174
NA
175
NA
176
$110,000.00 - $120,000.00 /Year
177
$120,000.00 - $140,000.00 /Year
178
$30.00 /Hour
179
$15.00 - $18.00 /Hour
180
$76.00 - $87.59 /Hour
181
$76.00 - $87.59 /Hour
182
$73,169.00 - $74,169.00 /Year
183
NA
184
$28.00 - $33.00 /Hour
185
$40.00 - $50.00 /Hour
186
NA
187
$80,000.00 - $160,000.00 /Year
188
NA
189
NA
190
NA
191
$27.00 /Hour
192
$70.00 - $80.00 /Hour
193
$50.00 - $60.00 /Hour
194
NA
195
$50.00 - $55.00 /Hour
196
NA
197
NA
198
NA
199
NA
200
NA
201
NA
202
NA
203
NA
204
NA
205
NA
206
NA
207
NA
208
NA
209
NA
210
NA
211
NA
212
NA
213
NA
214
NA
215
$0.00 - $120,000.00 /Year
216
$25.00 - $28.00 /Hour
217
$20.00 - $25.00 /Hour
218
NA
219
$40.00 - $50.00 /Hour
220
$40.00 - $45.00 /Hour
221
$55,000.00 - $70,000.00 /Year
222
NA
223
$87,600.00 - $118,700.00 /Year
224
$90,000.00 - $140,000.00 /Year
225
NA
226
NA
227
NA
228
NA
229
NA
230
NA
231
NA
232
NA
233
NA
234
NA
235
NA
236
NA
237
NA
238
NA
239
NA
240
NA
241
NA
242
NA
243
NA
244
NA
245
NA
246
NA
247
NA
248
NA
249
NA
250
NA
251
NA
252
NA
253
NA
254
NA
255
NA
256
NA
257
NA
258
NA
259
NA
260
NA
261
NA
262
NA
263
NA
264
NA
265
NA
266
NA
267
NA
268
NA
269
NA
270
NA
271
NA
272
NA
273
NA
274
NA
275
NA
276
NA
277
NA
278
NA
279
NA
280
NA
281
NA
282
NA
283
NA
284
NA
285
NA
286
NA
287
NA
288
NA
289
$16,000.00 - $18,000.00 /Year
290
NA
291
$30.00 - $43.14 /Hour
292
$60,000.00 - $140,000.00 /Year
293
NA
294
$66,000.00 - $86,000.00 /Year
295
$50,000.00 - $60,000.00 /Year
296
$55.00 - $65.00 /Hour
297
NA
298
NA
299
NA

In [36]:
# check to ensure count is correct
print len(title)
print len(industry)
print len(category)
print len(company)
print len(location)
print len(details)
print len(salary)
print len(experience)

302
302
302
302
302
302
0
300

In [48]:
data_dict = {'title': title, 'industry': industry, 'category': category, 'company': company, 'location': location, 'details': details}

In [49]:
len(job_urls)

300

In [50]:
import pandas as pd

In [52]:
jobs = pd.DataFrame(data_dict)
jobs.head()

,category,company,details,industry,location,title
0,Information Technology,Eliassen Group,\nOur client is dedicated to delivering best-i...,Other Great Industries,"201 South Tryon StreetCharlotte, NC 28202",Data Scientist
1,Information Technology,Eliassen Group,\nOur client is dedicated to delivering best-i...,Other Great Industries,"201 South Tryon StreetCharlotte, NC 28202",Data Scientist
2,Information Technology,Eliassen Group,\nOur client is dedicated to delivering best-i...,Other Great Industries,"201 South Tryon StreetCharlotte, NC 28202",Data Scientist
3,Information Technology,Rang Technologies,\nRoles and Responsibilities:\nThe client is i...,Computer Software,"Moline, IL",Lead Data Scientist
4,Information Technology,Austin Fraser,\nAustin Fraser is working alongside a fantast...,Computer Software,"Austin, TX",Data Scientist

In [53]:
driver.close()